.App1 {
    min-height: 100vh;
    background-color: rgb(211, 254, 255);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .panel1 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }

.header1{
    min-height: 10vh;
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header2{
    position: fixed;
    top: 110px;
    left: 750px;
    height: 500px;
    width: 500px;
    background-color: rgb(189, 207, 209);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: left;
}

button{
    position: fixed;
    left: 550px;
    top: 550px;
}

  

