.product-background {
  position: fixed;
  background-image:url("../../images/oceanimagedesktop.jpg");
  background-blend-mode: soft-light;
  background-size: cover;
  height: 100% !important;
  width: 100% !important;
}


.image1-panel{
  position: relative;
  background-color: aqua;
  height: 90%;
  width: 30%;
  left: 10%;
  top: 20%;
  border-radius: 10px;
}

.image1{
  position: relative;
  left: 6%;
  top: 5%;
}

@media (max-width: 584px){
.container
{
  min-width: 100px;
  margin: auto;
  float:left;
}
}
/*
* percentage's are used to scale items according to browser resizing
* can possibly use flex containers for buttons
*/

.panel1 button {
  position: relative;
  top: -45%;
  left: 62%;
  width: 15%;
  height: 5%;
}
