.product-background {
  position: fixed;
  background-image:url("../../images/oceanimagedesktop.jpg");
  background-blend-mode: soft-light;
  background-size: cover;
  height: 100% !important;
  width: 100% !important;
}


.image1-panel{
  position: relative;
  background-color: aqua;
  height: 90%;
  width: 30%;
  left: 10%;
  top: 20%;
  border-radius: 10px;
}

.image1{
  position: relative;
  left: 6%;
  top: 5%;
}

.panel1 {
  height: 500px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}



/*
* percentage's are used to scale items according to browser resizing
* can possibly use flex containers for buttons
*/
.header2 {
  position: relative;
  top: -50%;
  left: 50%;
  height: 30%;
  width: 40%;
  background-color: rgb(211, 254, 255);
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  text-align: left;
  border-radius: 10px;
}

.panel1 button {
  position: relative;
  top: -45%;
  left: 62%;
  width: 15%;
  height: 5%;
}
