.product-background {
  overflow:hidden;
  position:fixed;
  background-image:url("../../images/oceanimagedesktop.jpg");
  background-blend-mode: soft-light;
  background-size: cover;
  height: 100% !important;
  width: 100% !important;
}

.ProductPage
{
  margin: auto;
}

.ProductPage .container1
{
  position:absolute;
  padding: 1%;
  margin: auto;
  float:left;
  border-color: solid black;
  left:10%;
  top:10%;
  border-radius: 10px;
  background-color: white;
  
}

.ProductPage .container2
{
  position:absolute;
  margin: auto;
  float:right;
  right: 10%;
  top:10%;
  padding:5%;
  border-radius: 10px;
  background-color: white;
}
/*
* percentage's are used to scale items according to browser resizing
* can possibly use flex containers for buttons
*/
.ProductPage .container1 .img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.panel1 button {
  position: relative;
  top: -45%;
  left: 62%;
  width: 15%;
  height: 5%;
}