.addproduct-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addproduct-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-width: 10vw;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px rgb(1, 0, 27);
  background: rgba(255, 255, 255, 0.7);
}

.addproduct-form-wrapper > h2 {
  display: flex;
  justify-content: center;
  cursor: default;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.25em;
  color: rgb(23, 28, 34);
  background-color: transparent;
}

.addproduct-form-wrapper form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.addproduct-form-wrapper input {
  cursor: text;
  margin-right: 0.25em;
  margin-top: 0.75em;
  height: 7vh;
  width: 30vw;
  font-size: 20px;
  text-indent: 5%;
  border: 2px solid rgb(185, 202, 206);
  background-color: #ffffff;
  color: #000000;
}

.addproduct-form-wrapper ::placeholder {
  color: rgba(51, 51, 51, 0.8);
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  text-indent: 5%;
}

.backbutton-wrapper input {
  cursor: pointer;
  height: fit-content !important;
  width: fit-content !important;
  font-size: 10px;
  border: none;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(8, 34, 59, 0.8);
  color: #fefefe;
}

.backbutton-wrapper input:hover {
  background-color: #1f3d64;
  color: #fefefe;
  transform: scale(0.99);
}

.formsubmit-wrapper input {
  cursor: default;
  height: 40px;
  border: none;
  background: none;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  color: #000000;
  margin-bottom: 1px;
}

.submitbutton-wrapper button {
  cursor: pointer;
  height: 5vh !important;
  width: 10vw !important;
  border: none;
  border-radius: 4px;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(14, 61, 105, 0.8);
  color: #fefefe;
}

.submitbutton-wrapper button:hover {
  background-color: #1f3d64;
  color: #fefefe;
  transform: scale(0.99);
}