.row {
    display: flex;
    justify-content: space-between;
  }
  .row.center {
    align-items: center;
  }
  .col-1 {
    flex: 1;
  }
  .col-2 {
    flex: 2;
  }
  .block {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  .text-right {
    text-align: right;
  }
  img.small {
    max-height: 8rem;
  }
  
  button.add {
      background-color: #40c0f0;
      width: 1.5rem;
  }
  button.remove {
      background-color: #f04040;
      width: 1.5rem;
  }
  button.badge {
      background-color: #f04040;
      border: none;
      color: #11ff00;
      width: 1.5rem;
    }