.row {
  display: flex;
  justify-content: space-around;
  flex: 1 0 21%;
  margin: 10px;
}

.row.center {
  align-items: center;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.block {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  flex: 1 0 21%;
  background-color: rgb(117, 208, 238);
}

.text-right {
  text-align: right;
}

img.small {
  max-height: 8rem;
}

.row button.add {
  background-color: aliceblue;
  border-radius: 3px;
  min-width: fit-content;
}

.row button.add:hover {
  color: green;
  background-color: aliceblue;
}

.row button.remove {
  border-radius: 3px;
  background-color: aliceblue;
  min-width: fit-content;
}

.row button.remove:hover {
  color: red;
  background-color: aliceblue;
}

.row button.badge {
  background-color: #f04040;
  border: none;
  color: #11ff00;
  width: 1.5rem;
}

.rowButton button {
  min-width: max-content;
}

.discountInput input {
  outline: none;
}

.apply input {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(14, 61, 105, 0.8);
  color: #fefefe;
}

.apply input:hover {
  color:chartreuse
}

.products td button {
  width: max-content;
}

.products table {
  text-align: left;
  border-spacing: 0px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 320px;
}

.products table tr {
  display: flex;
  flex-wrap: nowrap;
  height: 50%;
}

.products table th {
  width: 50%;
  height: 8vh;
}

.products table td {
  word-break: break-all;
}

.products img {
  width: 100px;
  min-height: 13vh;
  border-radius: 10px;
  margin-left: 5px;
}

.product-button {
  margin-top: 5px;
  background-color: honeydew;
  margin-left: 9px;
  border-radius: 1.5px;
}

/* Add a black background color to the top navigation bar */
.searchbar {
  position: inherit;
  display: flex;
  align-items: center;
  background-color: lightseagreen;
  padding: 0.5rem;
  border: none;
  flex-grow: 1;
  border-radius: 0;
  width: 99.4;
  color: white;
  right: 100px;
  top: 0.6rem;
  margin-right: 20px;
  margin-left: 20px;
}

/* Style the "active" element to highlight the current page */
.searchbar a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.searchbar input {
  padding: 6px;
  border: none;
  outline: none;
  margin: 0 0.5rem 0 0.5rem;
  width: 100%;
  height: 2px;
  background-color: lightseagreen;
  font-size: 17px;
}