.registration-background {
    position: fixed;
    background-image:url("../../images/oceanimagedesktop.jpg");
    background-blend-mode: soft-light;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;
  }

.information {
    position: relative;
    display: flex;
    height: 88%;
    left: 40%;
    top: 2%;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information input {
    width: 250px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin: 5px;
    border-radius: 10px;
}

.information button {
    height: 30px;
    width: 250px;
    font-size: 20px;
    margin: 10px;
}
