.App {
    width: 100%;
    height: auto;
}


/* NAVBAR */
.navbar {
    background-color: dodgerblue;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar .links {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: greenyellow;
}

.cartImage a:hover {
    color: greenyellow;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .navbar .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

}