.order-list {}

.order-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 21%; 
}

.order-list .tables {
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 8px 36px #222;
    background-color: cadetblue;
    color: white;
    border-spacing: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-left: 27%;
}
.order-list th {
    text-align: center;
}

.fa-info-circle {
    color: aquamarine
}

thead button {
    font-family: inherit;
    font-weight: 850;
    font-style: oblique;
    padding: 0.3em;
    min-width: max-content;
    background-color: transparent;
    color:black
}

thead button.ascending::after {
    content: '⬇️';
    display: inline-block;
    margin-left: 1em;
}

thead button.descending::after {
    content: '⬆️';
    display: inline-block;
    margin-left: 1em;
}