.order-background {
    background-image: url('../../images/download.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.fa-info-circle {
    color: aquamarine
}

thead button {
    font-family: inherit;
    font-weight: 850;
    font-style: oblique;
    padding: 0.3em;
    min-width: max-content;
    background-color: transparent;
    color:black
}

thead button.ascending::after {
    content: '⬇️';
    display: inline-block;
    margin-left: 1em;
}

thead button.descending::after {
    content: '⬆️';
    display: inline-block;
    margin-left: 1em;
}