.order-list {}

.order-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 21%;
}

.order-list .tables {
    text-align: left;
    border-radius: 10px;
    background-color: cadetblue;
    color: white;
    border-spacing: 10px;
}
.order-list th {
    text-align: center;
}

.fa-info-circle {
    color: aquamarine
}

thead button {
    font-family: inherit;
    font-weight: 700;
    padding: 0.3em;
    min-width: max-content;
}

thead button.ascending::after {
    content: '⬇️';
    display: inline-block;
    margin-left: 1em;
}

thead button.descending::after {
    content: '⬆️';
    display: inline-block;
    margin-left: 1em;
}