.updateproduct-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.updateproduct-form-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  min-width: 25vw;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px rgb(1, 0, 27);
  background: rgba(255, 255, 255, 0.7);
  margin-right: 10vw;
}

.updateproduct-form-wrapper > h2,
.updateproduct-form-item-wrapper > h2 {
  display: flex;
  justify-content: center;
  cursor: default;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.25em;
  color: rgb(23, 28, 34);
  background-color: transparent;
}

.updateproduct-form-wrapper form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.updateproduct-form-wrapper input{
  cursor: text;
  margin-right: 0.25em;
  margin-top: 0.75em;
  height: 75px;
  width: 100%;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  text-indent: 5%;
  border: 2px solid rgb(185, 202, 206);
  background-color: #ffffff;
  color: #000000;
}

.updateproduct-form-wrapper ::placeholder,
.updateproduct-form-item-wrapper ::placeholder {
  color: rgba(51, 51, 51, 0.8);
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  text-indent: 5%;
}


.searchbutton-wrapper button {
  cursor: pointer;
  margin-left: 15vw;
  margin-top: 10px;
  height: 30px;
  width: 10vw;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(14, 61, 105, 0.8);
  color: #fefefe;
}

.searchbutton-wrapper button:hover {
  background-color: #1f3d64;
  color: #fefefe;
  transform: scale(0.99);
}


.backbutton-wrapper input {
  display: flex;
  cursor: pointer;
  margin-left: 120px;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 40px;
  width: 12.65vw;
  overflow: wrap;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(8, 34, 59, 0.8);
  color: #fefefe;
}

.backbutton-wrapper input:hover {
  background-color: #1f3d64;
  color: #fefefe;
  transform: scale(0.99);
}

.formsubmit-wrapper input {
  cursor: default;
  height: 40px;
  border: none;
  background: none;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  color: #000000;
  margin-bottom: 1px;
}

.submitbutton-wrapper button {
  cursor: pointer;
  margin-left: 120px;
  margin-top: 50px;
  height: 75px;
  width: 12.65vw;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(14, 61, 105, 0.8);
  color: #fefefe;
}

.submitbutton-wrapper button:hover {
  background-color: #1f3d64;
  color: #fefefe;
  transform: scale(0.99);
}

.errormessage h2 {
  display: flex;
  justify-content: center;
  cursor: default;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: lighter;
  margin-top: 0.25em;
  color: rgb(23, 28, 34);
  background-color: transparent;
}
.updateproduct-form-item-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  min-height: 25vh;
  padding: 20px 15px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px rgb(1, 0, 27);
  background: rgba(255, 255, 255, 0.7);
}

.updateproduct-form-item-wrapper .tables {
  text-align: left;
  font-size: x-large;
} 

.updateproduct-form-item-wrapper th {
  text-align: center;
}

.updateproduct-form-item-wrapper td {
  text-align: center;
}