.HomePage {
  min-width: fit-content;
  min-height: 100vh;
  background-color: rgb(22, 31, 36);
  font-family: "Segoe UI", "Ubuntu", "Roboto";
  font-weight: lighter;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1 0 21%;
}

.HomeHeader {
  background-image: url(../../images/oceanimagedesktopnew.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10%;
}


.DealsBanner h2 {
  text-align: center;
  font-family: "Segoe UI", "Ubuntu", "Roboto";
  font-weight: lighter;
  font-size: 54px;
  color: rgb(255, 255, 255);
  margin: none;
  border-radius: none;
}

h3 {
  font-family: "Segoe UI", "Ubuntu", "Roboto";
  font-weight: lighter;
  color: black;
  font-size: large;
  margin: none;
  border-radius: none;
  padding: 1%;
}

.Frames {
  display: flex;
  flex-direction: column;
}

.frame-sets {
  display: flex;
  justify-content: left;
  text-align: center;
  flex-wrap: wrap;
}

.wrapper {
  flex-basis: 25%;
  margin-top: 3vw;
  color: white
}

.wrapper i {
  background-color:rgb(97, 126, 155);
  font-size: 36px;
}

.wrapper img {
  border-radius: 10px;
  margin-top: 15px;
}

.Frames button {
  height: 100;
  width: 100;
}

.hotbar-button {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  font-size: large;
  border: none;
  margin: 1%;
}

.hotbar-button:hover {
  cursor: pointer;
}

.Topright {
  position: absolute;
  top: -3px;
  right: 16px;
  font-size: 18px
}

.product-view-button {
  margin-top: 5px;
  min-height: 50px;
  min-width: 100px;
  background-color: rgb(45, 64, 83);
  color: white;
  font-weight: 650;
  border-radius: 1.5px;
}

.DoD {
  margin-top: -5vh;
}

.head {
  font-size: xx-large;
  text-align: center;
  margin-top: -20vh;
}
