.HomePage {
  min-width: fit-content;
  background-color: rgb(211, 254, 255);
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  flex:1 0 21%;
}

.HomeHeader header {
  text-align: left;
  background-image: url(../../images/oceanimagedesktop.jpg);
  background-blend-mode: lighten;
  background-position: center;
  background-size: cover;
  opacity: 88%;
  color: black;
  font-size: x-large;
  margin: none;
  border-radius: none;
  padding: 10%;
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: rgb(184, 227, 240);
  color: black;
  font-size: large;
  margin: none;
  border-radius: none;
  padding: 1%;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  color: black;
  font-size: large;
  margin: none;
  border-radius: none;
  padding: 1%;
}

.Frames {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: large;
  align-items: left;
  text-align: center;
  width: 100%;
  min-height: 60vh;
}

.frame-sets {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.frame-sets div{
  margin: auto;
}

.Frames button {
  height: 100;
  width: 100;

}

.hotbar-button {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  font-size: large;
  border: none;
  margin: 1%;
}

.hotbar-button:hover {
  cursor: pointer;
}

.Topright {
  position: absolute;
  top: -3px;
  right: 16px;
  font-size: 18px
}


