.HomePage {
  min-width: fit-content;
  min-height: 100vh;
  background-color: rgba(95, 148, 180, 0.638);
  font-family: 'Times New Roman', Times, serif;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1 0 21%;
}

.HomeHeader {
  background-image: url(../../images/oceanimagedesktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 10%;
}

.HomePage h2 {
  text-align: center;
  color: black;
  font-size: large;
  margin: none;
  border-radius: none;
  margin-bottom: 5vh;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  color: black;
  font-size: large;
  margin: none;
  border-radius: none;
  padding: 1%;
}

.Frames {
  display: flex;
  flex-direction: column;
}

.frame-sets {
  display: flex;
  justify-content: left;
  text-align: center;
  flex-wrap: wrap;
}

.wrapper {
  flex-basis: 33.3333%;
  margin-top: 1vw;
  color: white
}

.wrapper img {
  border-radius: 10px;
}

.Frames button {
  height: 100;
  width: 100;
}

.hotbar-button {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  font-size: large;
  border: none;
  margin: 1%;
}

.hotbar-button:hover {
  cursor: pointer;
}

.Topright {
  position: absolute;
  top: -3px;
  right: 16px;
  font-size: 18px
}

.product-view-button {
  margin-top: 5px;
  background-color: aqua;
  color: green;
  font-weight: 650;
  border-radius: 1.5px;
}

.DoD {
  background-image: url("../../images/water.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -5vh;
}

.head {
  font-size: xx-large;
  text-align: center;
  margin-top: -20vh;
}
