  /* 
    Colors:
    https://coolors.co/22223b-4a4e69-eadae4-9a8c98-c9ada7 
  */
  /*
  YANKEES BLUE: #22223B
  INDEPENDENCE: #4A4E69
  PLATINUM: #EADAE4
  SPANISH GRAY: #9A8C98
  SILVER PINK: #C9ADA7
  */

  .background-login {
    background-image: url('../../images/4433342.jpg');
    min-height: 100vh;
    width: 60vw;
    padding-top: 1px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .signin-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .signin-form-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 34vw;
    height: 120vh;
    margin-left: 99vw;
    padding: 20px 40px;
    box-shadow: 0px 8px 36px #222;
    background-color: white;
  }

  .signin-form-wrapper form h2 {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: lighter;
    margin-top: 0.25em;
    color: #222;
    background-color: transparent;
  }

  .signin-form-wrapper form {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25vh;
  }

  .info {
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .signin-form-wrapper label {
    margin-bottom: 0.5em;
    color: #444;
    font-weight: lighter;
  }

  .signin-form-wrapper input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d6d1d5;
  }

  .signin-form-wrapper input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #bbb;
  }

  .signin-form-wrapper button {
    width: 35vw;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding: 0.938em;
    border: none;
    border-radius: 4px;
    background-color: #22223B;
    color: #fefefe;
  }

  .signin-form-wrapper button:hover {
    background-color: #4A4E69;
    color: #fefefe;
  }

  .error {
    color: #db2269;
    font-size: 0.5em;
    display: relative;
  }

  .password,
  .username {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .username {
    width: 100%;
  }

  .submit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .login-status {
    position: relative;
    font-size: 1.2em;
    color: red;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }