.signin-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image:url("../../images/oceanimagedesktop.jpg");
  background-blend-mode:soft-light;
  background-repeat:no-repeat;
  background-size:cover;
  min-height: 100vh;
}

.signin-wrapper input {
  width: 250px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.signin-wrapper button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
}